Django
djangorestframework
python-dotenv
PyPDF2
python-docx
requests
elevenlabs
psycopg2-binary
gunicorn
whitenoise
django-cors-headers
pytesseract
Pillow
dj-database-url
azure-cognitiveservices-speech
google-cloud-texttospeech
google-generativeai
drf-spectacular      
pydub
cryptography